@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: 'inter', sans-serif;
    padding: 20px;
    background-color: #bebebe;}
.container{
     background-color: #e8e8e8;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5 );
   flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

h1{
font-size: 3em;
}
    
